html
{
	height: 100%;
}

body
{
	height: inherit;
}

#demo
{
	height: 80%;
	margin-top: 20px;
}

#demo #scene
{
	border-radius: 5px;
	box-shadow: #333 0px 0px 5px inset;
	position: relative;
	overflow: hidden;
	height: 99%;
	margin-top: 5px;
}

#demo #scene #map
{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	width: 2000px;
	height: 2000px;
	background: #aaa url(images/tile-grass.jpg);
}

#demo #scene .character
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 48px;
}

#demo #scene .character .sprite
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;

	width: 100%;
	height: 100%;

	background: no-repeat 0px 0px;
}

#demo #scene .character .username
{
	position: absolute;
	top: -20px;
	left: -50px;
	z-index: 3;

	display: block;
	width: 100px;
	margin-left: 16px;

	text-align: center;
}

#demo #scene .character .coord
{
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 3;

	display: none;

	font-size: 10px;
	line-height: 1em;
	text-align: left;
}

#demo #scene .character:hover .coord
{
	display: block;
}

#demo #scene .character .shadow
{
	box-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
	border-radius: 50%;

	position: absolute;
	bottom: -3px;
	left: 0px;
	z-index: 1;

	display: block;
	width: 100%;
	height: 25%;
	background: rgba(0,0,0,0.3);
}

#demo #scene .character:hover .shadow
{
	box-shadow: rgba(0,255,0,0.3) 0px 0px 5px;
	border: 1px solid #0f0;
	background-color: rgba(0,255,0,0.3);
}

#demo #scene .character .bubble
{
	text-shadow: #000 0px 0px 2px;
	
	position: absolute;
	bottom: 150%;
	left: -84px;

	width: 200px;

	text-align: center;
	color: #fff;
}
