#demo
{
	margin-top: 20px;
}

#messages
{
	box-shadow: rgba(0,0,0,0.2) 0px 1px 5px inset;
	border-radius: 5px;
	width: 100%;
	margin: 10px 0px;
	border: #888 1px solid;
	background: #eee;
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
}

#messages .message
{
	padding: 5px 10px;
	border-top: #ddd 1px solid;
	word-wrap: break-word;
}

#messages .message:first-child
{
	border-top: none;
}

#message_field
{
	width: 95%;
	padding: 10px;
	height: 26px;
}