html
{
	height: 100%;
}

body
{
	height: inherit;
}

#demo
{
	height: 75%;
	margin-top: 20px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

#demo #scene
{
	border-radius: 5px;
	box-shadow: #333 0px 0px 5px inset;
	position: relative;
	overflow: hidden;
	height: 99%;
	margin-top: 5px;
}

#demo #scene .ui
{
	position: absolute;
	z-index: 2;
}

#demo #scene .ui.health, #demo #scene .ui.exp
{
	border-radius: 3px;

	bottom: -10px;
	left: 0px;
	overflow: hidden;

	height: 4px;
	width: 100%;
	padding: 1px;
	background: rgba(0,0,0,0.5);
}

#demo #scene .ui.health .bar, #demo #scene .ui.exp .bar
{
	border-radius: 2px;
	box-shadow: rgba(255,255,255,0.5) 0px 0px 0px 1px inset;

	width: 0%;
	height: 100%;
	background: #f00;
}

#demo #scene .ui.exp
{
	border-radius: 0px;
	bottom: 0px;
}

#demo #scene .ui.exp .bar
{
	background-color: #f0f;
}

#demo #scene .ui.lvl
{
	top: 10px;
	right: 10px;
	width: 200px;
	font-size: 22px;
	text-align: right;
	color: #fff;
}

#demo #scene #inventory
{
	border-radius: 0px 0px 0px 5px;
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	width: 136px;
	min-height: 34px;
	padding: 5px;
	border: 1px solid #333;
	background: rgba(0,0,0,0.5);
	color: #fff;
}

#demo #scene #inventory .object
{
	position: static;
	display: inline-block;
}

#demo #scene #map
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	overflow: hidden;
	width: 2000px;
	height: 2000px;
	background: #aaa url(images/tile-grass.jpg);
}

#demo #scene #map .footprint
{
	position: absolute;
}

#demo #scene .character
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 48px;
}

#demo #scene .character .sprite
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;

	width: 100%;
	height: 100%;

	background: no-repeat 0px 0px;
}

#demo #scene .character .username
{
	position: absolute;
	top: -20px;
	left: -50px;
	z-index: 3;

	display: block;
	width: 100px;
	margin-left: 16px;

	text-align: center;
}

#demo #scene .character .shadow
{
	box-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
	border-radius: 50%;

	position: absolute;
	bottom: -3px;
	left: 0px;
	z-index: 1;

	display: block;
	width: 100%;
	height: 25%;
	background: rgba(0,0,0,0.3);
}

#demo #scene .character:hover .shadow
{
	box-shadow: rgba(0,255,0,0.3) 0px 0px 5px;
	border: 1px solid #0f0;
	background-color: rgba(0,255,0,0.3);
}

#demo #scene .character .bubble
{
	text-shadow: #000 0px 0px 2px;

	position: absolute;
	bottom: 150%;
	left: -84px;

	width: 200px;

	text-align: center;
	color: #fff;
}

#demo #scene .object
{
	position: absolute;
	top: 10px;
	left: 10px;

	width: 34px;
	height: 34px;
	background: url(images/objects.png) 0px 0px no-repeat;
}
