body { margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333;}
#header { background:#CCC; min-height:50px; border-bottom:#999 1px solid;}
#header_inner { padding:10px;}
#header_inner ul { list-style:none; padding:0px; margin:0px; text-align:center;}
#header_inner ul li { display:inline-block;}
#header_inner ul li.active a { background:#888!important; color:#000;}
#header_inner ul li a { border-radius:5px; display:block; padding:5px; color:#333; text-decoration:none; background:#bbb;}
#header_inner ul li a:hover { background:#aaa;}

#content,#header_inner { min-width:300px; max-width:900px; margin:0px auto;}
#content {}